{% extends "base.html" %}

{% block title %}
      About Page
    {% endblock title %}

{% block content %}
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="container">
    <h1 class="display-2"><center>Graduation Project II</center></h1>
    <br><br>
    <h2 class="display-4"><center>Predictive Maintenance for Machines</center></h2>
    <br><br>
    <h3 class="display3"><center>Developed by FADIL ARIKAN</center></h3>
    <br><br>
    <div class="text-center">
        <a <button type="button" class="btn btn-primary" href="{% url 'index'%}">Return the Home Page</button> </a>
        </div>
    </div>
</div>
    
{% endblock content %}
